.form {
  width: 400px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 80px;
}

.inputStyle {
  width: 100%;
  height: 12px;
  border-style: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
  padding: 16px;
  outline: none;
  transition: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  font-size: 22px;
  color: #2e021b;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.buttonForm {
  width: auto;
  font-size: 20px;
  font-weight: bold;
  color: #212121;
  background-color: inherit;
  position: absolute;
  top: 10%;
  right: 0;
}
.buttonForm:hover {
  background-color: rgb(240, 191, 229);
  cursor: pointer;
  border-radius: 4px;
  padding: 2px 4px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.buttonForm:focus,
.buttonForm:focus-visible {
  border-radius: 4px;
  padding: 2px 4px;
  outline: 2px solid #391027;
}
