.item {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;

  justify-content: center;
  background-color: var(--color-light);
  border: 4px solid #fff;
  border-radius: 16px;
  overflow: hidden;
}
.image {
  width: 100%;
}
